
<app-header-extra></app-header-extra>

<app-what-to-offer></app-what-to-offer>
<!-- ********************* project (completed) starts ****************************** -->

<section class="project-work">
<div class="container headings text-center">
    <p class="text-center font-weight-bold">MORE THAN 2,000 WEBSITES CREATED</p>
</div>
<div class="container d-flex justify-content-around align-items-center text-center">
    <div>
    <h1 class="count">1500</h1>
    <p>CMS Installation</p>
    </div>

    <div>
    <h1 class="count">2500</h1>
    <p>Awards Won</p>
    </div>

    <div>
    <h1 class="count">700</h1>
    <p>Happy Clients</p>
    </div>

    <div>
    <h1 class="count">500</h1>
    <p>Working On</p>
    </div>
</div>
</section>
  <!-- ********************* project (completed) ends ****************************** -->


  <!-- ********************* our pricing start ****************************** -->

<section class="pricing" id="pricingdiv">
  <div class="container headings text-center">
      <h1 class="text-center font-weight-bold text-white">OUR BEST PRICING</h1>
  </div>
  <div class="container">
      <div class="row">
      <div class="col-lg-4 col-12">
          <div class="card text-center">
          <div class="card-header">BASIC</div>
          <div class="card-body">
              <li>$<span class="money">20</span>/website</li>
              <li>Responsive Websites</li>
              <li>Domain Name Free</li>
              <li>Mobile Friendly</li>
              <li>Webmail Support</li>
              <li>Customer Support 24/7</li>
          </div>
          <div class="card-footer">
              <a href="#">Purchase</a>
          </div>
          </div>
      </div>
      <div class="col-lg-4 col-12 card-second">
          <div class="card text-center">
          <div class="card-header">STANDARD</div>
          <div class="card-body">
              <li>$<span class="money">40</span>/website</li>
              <li>Responsive Websites</li>
              <li>Domain Name Free</li>
              <li>Mobile Friendly</li>
              <li>Webmail Support</li>
              <li>Customer Support 24/7</li>
          </div>
          <div class="card-footer">
              <a href="#">Purchase</a>
          </div>
          </div>
      </div>
      <div class="col-lg-4 col-12">
          <div class="card text-center">
          <div class="card-header">UNLIMITED</div>
          <div class="card-body">
              <li>$<span class="money">60</span>/website</li>
              <li>Responsive Websites</li>
              <li>Domain Name Free</li>
              <li>Mobile Friendly</li>
              <li>Webmail Support</li>
              <li>Customer Support 24/7</li>
          </div>
          <div class="card-footer">
              <a href="#">Purchase</a>
          </div>
          </div>
      </div>
      </div>
  </div>
</section>
<!-- ********************* our pricing end ****************************** -->

  <!-- ********************* our happy clients starts ****************************** -->

  <section class="happyclients">
    <div class="container headings text-center">
      <h1 class="text-center font-weight-bold">OUR HAPPY CLIENTS</h1>
      <p class="text-center text-captalize pt-1">Our Satisfied Customer Says</p>
    </div>
    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner container">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
              <div class="box">
                <a href="#"><img src="image/clients-thumb.jpg" class="img-fluid img-thumbnail"></a>
                <p class="m-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <h1>Anil Swami</h1>
                <h2>Web Developer</h2>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="box">
                <a href="#"><img src="image/clients-thumb.jpg" class="img-fluid img-thumbnail"></a>
                <p class="m-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <h1>Anil Swami</h1>
                <h2>Web Developer</h2>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="box">
                <a href="#"><img src="image/clients-thumb.jpg" class="img-fluid img-thumbnail"></a>
                <p class="m-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <h1>Anil Swami</h1>
                <h2>Web Developer</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
              <div class="box">
                <a href="#"><img src="image/clients-thumb.jpg" class="img-fluid img-thumbnail"></a>
                <p class="m-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <h1>Anil Swami</h1>
                <h2>Web Developer</h2>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="box">
                <a href="#"><img src="image/clients-thumb.jpg" class="img-fluid img-thumbnail"></a>
                <p class="m-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <h1>Anil Swami</h1>
                <h2>Web Developer</h2>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="box">
                <a href="#"><img src="image/clients-thumb.jpg" class="img-fluid img-thumbnail"></a>
                <p class="m-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <h1>Anil Swami</h1>
                <h2>Web Developer</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
              <div class="box">
                <a href="#"><img src="image/clients-thumb.jpg" class="img-fluid img-thumbnail"></a>
                <p class="m-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <h1>Anil Swami</h1>
                <h2>Web Developer</h2>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="box">
                <a href="#"><img src="image/clients-thumb.jpg" class="img-fluid img-thumbnail"></a>
                <p class="m-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <h1>Anil Swami</h1>
                <h2>Web Developer</h2>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="box">
                <a href="#"><img src="image/clients-thumb.jpg" class="img-fluid img-thumbnail"></a>
                <p class="m-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <h1>Anil Swami</h1>
                <h2>Web Developer</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>
  </section>


  <!-- ********************* our happy clients end ****************************** -->

  <!-- ********************* contact us starts ****************************** -->

  <section class="contactus" id="contactdiv">
    <div class="container headings text-center">
      <h1 class="text-center font-weight-bold">CONTACT US</h1>
      <p class="text-center text-captalize pt-1">We're here to help and answer any question you might have. we look forward to hearing from you.</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-10 offset-lg-2 offset-md-2 offset-1">

          <form action="/action_page.php">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter Your Name" id="username" autocomplete="off" required>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Enter Email" id="email" autocomplete="off" required>
            </div>
            <div class="form-group">
              <input type="number" class="form-control" placeholder="Enter Mobile Number" id="mobile" autocomplete="off" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="4" placeholder="Enter Your Message" id="comment"></textarea>
            </div>
            <div class="d-flex justify-content-center form-button">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </section>

  <!-- ********************* contact us ends ****************************** -->

  <!-- ********************* newsletter starts ****************************** -->

  <section class="newsletter" id="newsletterdiv">
    <div class="container headings text-center">
      <h1 class="text-center font-weight-bold">SUBSCRIBE TO OUR NEWS LETTER</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-12 ">
          <div class="input-group mb-3">
            <input type="text" class="form-control newsletter-input" placeholder="Your Email">
            <div class="input-group-append">
              <span class="input-group-text">Subscribe</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ********************* newsletter ends ****************************** -->

